*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/app/build
/gamefocus/build
/app/release
/app/release-gf
/app/debug
/app/debug-gf
/core/build
/domain/build
/mirrorserver/build
build/
/captures
/screenshots
.DS_Store
.kotlin
.externalNativeBuild
.cxx
local.properties
megingiard.jks
.tmp/
*.apk
bin/
